*{
    margin:0;
    padding:0;
    text-align:center;
    font-family:Arial, Helvetica, sans-serif;
}

i{
    font-size:30px;
}

body{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    background-image:url(bg\ for\ cc.jpg);
    background-size:cover;
}

.outerContainer{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    height:100vh;
}
.container{
    background-color:rgba(97, 91, 255 , 0.75);
    padding:3rem;
    border-radius:1rem;
}

.flagContainer{
    margin-top:2rem;
    display:flex;
    justify-content: space-between;
    align-items:center;
}

#result{
    font-size:20px;
    margin:2rem 0 2rem 0;
    background-color:cornsilk;
    border-radius:0.5rem;
    padding:1rem 0 1rem 0;
    color:crimson;
    font-weight:600;
}

h1{
    margin-bottom:2rem;
    color:rgb(247, 233, 174);
}

select{
    padding:0.25rem;
    width:60px;
    border-radius:0.5rem;
    color:crimson;
    background-color:cornsilk;
    border:none;
}

select:hover{
    cursor:pointer;
    outline:1px solid crimson;
}

input{
    width:300px;
    padding:10px;
    border-radius:0.5rem;
    border:none;
    text-align:left;
    font-size:20px;
}

button{
    font-size:1rem;
    padding:1rem;
    border-radius:0.5rem;
    background-color:cornflowerblue;
    color:cornsilk;
    font-weight:600;
    border:none;
}

button:hover{
    cursor:pointer;
    background-color:rgb(47, 94, 183);
    outline:2px solid navajowhite;
}