* {
    margin : 0px;
    padding:0px;
}

h1{
    text-align:center;
}

body{
    display: flex;
    align-items:center;
    justify-content:center;
    background-color:lightcoral;
}

#outerBox{
    display: flex;
    align-items:center;
    justify-content:center;
    width:500px;
    flex-wrap:wrap;

    
}

.box{
    height : 150px;
    width : 150px;
    background-color: aqua;
    border : 2px solid black;
    border-radius: 15px;
    font-size:100px;
    text-align:center;
    color:black;
}

.container{
    height: 490px;
    width: 490px;
    display: flex;
    align-items:center;
    justify-content:center;
    flex-wrap:wrap;
    gap:5px;
}

#reset{
    height:50px;
    width:150px;
    font-size:20px;
    border-radius:10px;
    background-color:blanchedalmond;
    text-align:center;
}

.display{
    width:100em;
    text-align:center;
    margin-bottom:40px;
}

#msg{
    font-size:50px;
    color:bisque
}

#newBtn{
     height:50px;
    width:150px;
    font-size:20px;
    border-radius:10px;
    background-color:blanchedalmond;
    text-align:center;
}

.hide{
    display:none;
}