* {
    margin : 0px;
    padding:0px;
}

h1{
    text-align:center;
    color:#e1fc11;
    color:#e5e5e5;
    color:blanchedalmond;
}

body{
    display: flex;
    align-items:center;
    justify-content:center;
    background-image:url("bg.jpg");
    background-size:cover;
}

.box:hover{
    background-color: #e5e5e5aa;
}

#outerBox{
    display: flex;
    align-items:center;
    justify-content:center;
    width:500px;
    flex-wrap:wrap;

    
}



.box{
    height : 150px;
    width : 150px;
    background-color: #e5e5e5;
    border : 2px solid black;
    border-radius: 15px;
    font-size:100px;
    text-align:center;
    color:black;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.container{
    height: 470px;
    width: 470px;
    display: flex;
    align-items:center;
    justify-content:center;
    flex-wrap:wrap;
    gap:5px;
}

#reset{
    height:50px;
    width:150px;
    font-size:20px;
    border-radius:10px;
    background-color:blanchedalmond;
    text-align:center;
}

.display{
    width:100em;
    text-align:center;
    margin-bottom:40px;
}

#msg{
    font-size:50px;
    color:bisque
}

#newBtn{
     height:50px;
    width:150px;
    font-size:20px;
    border-radius:10px;
    background-color:blanchedalmond;
    text-align:center;
}

.hide{
    display:none;
}

@media (max-width:1000px){
    .box{
        height:120px;
        width:120px;
    }

    .container{
        height:380px;
        width:380px;
    }
}

@media (max-width:650px){
    .box{
        height:80px;
        width:80px;
    }

    .container{
        height:250px;
        width:250px;
    }

    #outerBox{
        width:350px;
    }
}

@media (max-width:400px){
    .box{
        height:60px;
        width:60px;
    }

    .container{
        height:190px;
        width:200px;
        gap:1px;
    }

    #outerBox{
        width:280px;
    }

    h1{
        font-size:25px;
    }

    #reset{
        font-size:15px;
        height:40px;
        width:100px;
    }
}