*{
    padding:0px;
    margin:0px;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background-image:url("bgForR-P-S.jpg");
    background-size:contain;
}


.options{
    height:150px;
    width:150px;
    border:2px solid black;
    border-radius:50%;
}


#rock{
    background-image: url("IMAGES/rock.png");
    background-size:cover;
    background-position-x: -57px;
    background-position-y: -5px;
    margin-right:20px;
}


.options:hover{
    cursor:pointer;
    border:3px solid cornsilk;
}

#paper{
    background-image: url("IMAGES/paper.png");
    background-size:cover;
    background-position-x: -60px;
    margin-right:20px;
}

#scissors{
    background-image: url("IMAGES/scissors.png");
    background-size:cover;
    background-position-x: -57px;
}


#container{
    height:205px;
    width:510px;
    display:flex;
    position:absolute;
    top:300px;
    left:460px;
    flex-wrap:wrap;
}

h1{
    text-align:center;
    position:absolute;
    top:200px;
    left:520px;
    color:cornSilk;
}

#rst{
    position:relative;
    background-color:bisque;
    color:darkcyan;
    left:150px;
    top:100px;
    height:60px;
    font-weight:600;
    font-size:20px;
    border-radius:10px;
    width:200px;
}

#rst:hover{
    background-color:bisque;
    border:4px solid darkcyan;
}


.scoreBoard{
    position:relative;
    top:60px;
    left:10px;
    border:2px solid bisque;
    color:cornsilk;
    height:15px;
    padding:15px;
    padding-bottom:20px;
    border-radius:10px;
    font-weight:600;
    margin-right:20px;
}

#msg1{
    border-radius:15px;
    display: inline;
    padding:10px;

}

#msgContainer{
    text-align:center;
    font-size:40px;
    position:relative;
    top:100px;

}


.display{
    display:none;
}