*{
    padding:0px;
    margin:0px;
    font-family:Arial, Helvetica, sans-serif;
    text-align:center;
}

body{
    background-image:url("bgForR-P-S.jpg");
    background-size:cover;
    display:flex;
    align-items:center;
    justify-content: center;
}

h1{
    color:bisque;
}


.options{
    height:150px;
    width:150px;
    border:2px solid black;
    border-radius:50%;
}


#rock{
    background-image: url("IMAGES/rock.png");
    background-size:cover;
    background-position-x: -57px;
    background-position-y: -5px;
    margin-right:20px;
}


.options:hover{
    cursor:pointer;
    border:5px solid cornsilk;
}

#paper{
    background-image: url("IMAGES/paper.png");
    background-size:cover;
    background-position-x: -60px;
    margin-right:20px;
}

#scissors{
    background-image: url("IMAGES/scissors.png");
    background-size:cover;
    background-position-x: -57px;
}

#buttonContainer{
    display:flex;
    align-items:center;
    justify-content: center;
}

#container{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    gap:40px;
}

#msg1{
    font-size:50px;
    margin-bottom:60px;
    border-radius:20px;
    padding:5px;

}

.display{
    display:none;
}

#bigBoard{
    display:flex;
    justify-content: space-around;
    width:600px;
}

.scoreBoard{
    color:cornsilk;
    font-size:20px;
    background-color: rgb(249, 158, 232);
    padding:10px;
    border-radius:10px;
    font-weight:600;
    border:5px solid cornsilk;
}

#rst{
    padding:15px;
    color:cornsilk;
    background-color:rgb(249, 158, 232);
    border-radius:10px;
    border:5px solid cornsilk;
    font-weight:900;
    font-size:15px;
}

#rst:hover{
    outline:5px solid black;
    border:0px;
}